/* Improve readability of form display. */

/* De-emphasize table rows for hidden form elements. */
tr.form_clerk_hidden td {
  background-color: #eee;
}

/* Emphasize table cells (columns) for key form elements. */
td.form_clerk_highlighted, th.form_clerk_highlighted {
  background-color: #FEE;
  font-weight: bold;
}
